/.idea/libraries
/.idea/*.xml
/.idea/.gitignore
/.idea/shelf

*.iml

VCSpeaker.json
config.json
target/*
speak.wav

alias.json
title.json

Temp/

test/SandBox.java

servers.json

vision-api.json

ignore.json

settings/*
!settings/.gitkeep